{% load static %}
{% include "stock/partials/head.html" %}
<head>
    <title>Login - Feitiço</title>
</head>
<div class="login-container logo-login">
    <img src="{% static 'stock/images/caldeirao.png' %}" alt="Feitico">
</div>
<h2 class="login-container texto-login">Feitiço Management</h2>
<div class="container">
    <div class="login-container">
        
        <form method="post" action="{% url 'fazer_login' %}">
            {% csrf_token %}
            <div class="login-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" placeholder="Insira seu nome" required>
            </div>
            <div class="login-group">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" placeholder="Senha" required>
            </div>
            <button type="submit">Fazer Login</button>


            {% if mensagem %}
                {% if mensagem == "Erro" %}
                <div class="error-message">
                    <p>Preencha todas as informaçoes</p>
                </div>
                {% endif %}
                {% if mensagem == "Credenciais" %}
                <div class="error-message">
                    <p>Credenciais inválidas</p>
                </div>
                {% endif %}
            {% endif %}
        </form>
    </div>
</div>

