{% load static %}
<div class="main-side-bar">
    <div class="logo">
        <a href="{% url "home" %}">
            <img src="{% static 'stock/images/caldeirao.png' %}" alt="Feitico">
        </a>
    </div>
    <div class="nav-buttons">
        <a href="{% url "add_venda" %}"><i class="fa-solid fa-dollar-sign"></i>  Venda</a>
        <a href="{% url 'add_estoque' %}"><i class="fa-solid fa-boxes-stacked"></i>  Estoque</a>
        <a href="{% url 'add_fornecedor' %}"><i class="fa-solid fa-truck"></i>  Fornecedor</a>
        <a href="{% url 'add_cliente' %}"><i class="fa-regular fa-face-smile"></i>  Cliente</a>
        <a href="{% url 'add_produto' %}"><i class="fa-solid fa-shirt"></i>  Produto</a>
        <a href="{% url 'add_funcionario' %}"><i class="fa-solid fa-users"></i> Funcionário</a>
        <a href="{% url 'fazer_logout' %}" class="logout">Sair <i class="fa-solid fa-arrow-right-from-bracket"></i> </a>
    </div>
</div>